name: PR

on:
    pull_request:
      types: [opened, reopened, synchronize]

jobs:
    soundness:
        name: Soundness
        uses: apple/swift-nio/.github/workflows/soundness.yml@main
        with:
            api_breakage_check_enabled: true
            broken_symlink_check_enabled: true
            docs_check_enabled: true
            format_check_enabled: true
            license_header_check_enabled: true
            license_header_check_project_name: "SwiftOpenAPIGenerator"
            shell_check_enabled: true
            unacceptable_language_check_enabled: true

    unit-tests:
        name: Unit tests
        uses: apple/swift-nio/.github/workflows/unit_tests.yml@main
        with:
            linux_5_8_enabled: false
            linux_5_9_arguments_override: "--explicit-target-dependency-import-check error"
            linux_5_10_arguments_override: "--explicit-target-dependency-import-check error"
            linux_nightly_6_0_arguments_override: "--explicit-target-dependency-import-check error"
            linux_nightly_main_arguments_override: "--explicit-target-dependency-import-check error"

    integration-test:
        name: Integration test
        uses: apple/swift-nio/.github/workflows/swift_matrix.yml@main
        with:
            name: "Integration test"
            matrix_linux_5_8_enabled: false
            matrix_linux_command: "apt-get update -yq && apt-get install -yq jq && ./scripts/run-integration-test.sh"

    example-packages:
        name: Example packages
        uses: apple/swift-nio/.github/workflows/swift_matrix.yml@main
        with:
            name: "Example packages"
            matrix_linux_5_8_enabled: false
            matrix_linux_command: "./scripts/test-examples.sh"

    swift-6-language-mode:
        name: Swift 6 Language Mode
        uses: apple/swift-nio/.github/workflows/swift_6_language_mode.yml@main
