name: Scheduled

on:
    schedule:
        - cron: "0 8,20 * * *"

jobs:
    unit-tests:
        name: Unit tests
        uses: apple/swift-nio/.github/workflows/unit_tests.yml@main
        with:
            linux_5_8_enabled: false
            linux_5_9_arguments_override: "--explicit-target-dependency-import-check error"
            linux_5_10_arguments_override: "--explicit-target-dependency-import-check error"
            linux_nightly_6_0_arguments_override: "--explicit-target-dependency-import-check error"
            linux_nightly_main_arguments_override: "--explicit-target-dependency-import-check error"

    integration-test:
        name: Integration test
        uses: apple/swift-nio/.github/workflows/swift_matrix.yml@main
        with:
            name: "Integration test"
            matrix_linux_command: "apt-get update -yq && apt-get install -yq jq && ./scripts/run-integration-test.sh"
            matrix_linux_5_8_enabled: false

    example-packages:
        name: Example packages
        uses: apple/swift-nio/.github/workflows/swift_matrix.yml@main
        with:
            name: "Example packages"
            matrix_linux_command: "./scripts/test-examples.sh"
            matrix_linux_5_8_enabled: false
